<div class="card shadow border-0 m-5 ">
<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center w-100">
      <!-- Title -->
      <h2 class="text-white mb-0">Students</h2>

      <!-- Search Input -->
      <div class="input-group w-25 mx-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search students..."
          [(ngModel)]="searchText"
          />
          <span class="input-group-text">
            <i class="bi bi-search"></i>
          </span>
        </div>
      <div class="input-group w-25 mx-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search NIC Number..."
          [(ngModel)]="searchNic"
          
        />
        <span class="input-group-text">
          <i class="bi bi-search"></i>
        </span>
      </div>
      <!-- Add Course Button -->
      <button class="btn btn-light" [routerLink]="['/admin/students/register']">
        <i class="bi bi-plus"></i> Add Student
      </button>
    </div>
  </div>
</nav>

<!-- Course Cards Container -->
<div class="table-responsive">
  <table class="table table-hover table-nowrap">
    <thead style="text-align:center" class="thead-light">
      <tr>
        <th scope="col">Student Name</th>
        <th scope="col">Email</th>
        <th scope="col">NIC Number</th>
        <th scope="col">Gender</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">Address</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody style="text-align: left">
      <tr *ngFor="let student of stud | searchByNic : searchNic | searchStudent : searchText | paginate: currentPage: itemsPerPage ">
        <td>
          <img
            *ngIf="student.profilePicture"
            [src]="student.profilePicture"
            alt="Avatar"
            class="avatar avatar-sm rounded-circle me-2"
          />
          <span *ngIf="!student.profilePicture" class="avatar-placeholder">
            {{ student.name[0] }}
          </span>
          {{ student.fullName | charLimit:10 }}
        </td>
        <td>{{ student.email | charLimit:15 }}</td>
        <td>{{ student.nicNumber}}</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.mobileNumber }}</td>
        <td>{{ student.address | charLimit:15 }}</td>
        <!-- //<td>{{ student.}}</td> -->
        <!-- <td>${{ student.registrationFee }}</td>
          <td>{{ student.isRegistrationFeePaid ? 'Yes' : 'No' }}</td> -->
        <td>{{ student.dateOfBirth | date:'MMM d, yyyy' }}</td>
        <td>
          <button
            class="btn btn-sm btn-square btn-neutral"
            [routerLink]="['/admin/students/edit', student.studentId]"
            
          >
            <i class="bi bi-pencil-square text-primary" title="Edit"></i>
          </button>
          <button
            class="btn btn-sm btn-square btn-neutral ms-3"
            (click)="deleteStudent(student.studentId)"
          >
            <i class="bi bi-trash text-danger" title="Delete"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Pagination Controls -->
<div class="pagination-controls text-center mt-3">
  <button  class="btn btn-secondary btn-sm me-3" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button  class="btn btn-secondary btn-sm ms-3" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>

<!-- Modal -->
<!-- <app-course-edit></app-course-edit> -->

<!-- <div class="card shadow border-0 ps-2 m-5">
    <div class="card-header">
      <h5 class="mb-0">Course List</h5>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-nowrap">
        <thead>
          <tr style="text-align:center;">
            <th scope="col">Course Name</th>
            <th scope="col">Fee</th>
            <th scope="col">Offer</th>
          </tr>
        </thead>
        <tbody style="text-align:center;">
          <tr *ngFor="let course of courses">
            <td>{{ course.name }}</td>
            <td>${{ course.fee }}</td>
            <td>{{ course.offer }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
</div>