<div class="card shadow border-0 m-5">
  <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
    <div class="container-fluid">
      <div class="d-flex justify-content-between align-items-center w-100">
        <!-- Title -->
        <h2 class="text-white mb-0">Payment</h2>

        <!-- Search Input -->
        <div class="input-group w-25 mx-3">
          <input
            type="text"
            class="form-control"
            placeholder="Search students..."
            [(ngModel)]="searchText"
          />
          <span class="input-group-text">
            <i class="bi bi-search"></i>
          </span>
        </div>
        <div class="input-group w-25 mx-3">
          <input
            type="text"
            class="form-control"
            placeholder="Search NIC Number..."
            [(ngModel)]="searchNic"
          />
          <span class="input-group-text">
            <i class="bi bi-search"></i>
          </span>
        </div>
        <!-- Add Course Button -->
        <button
          class="btn btn-light"
          [routerLink]="['/admin/portal']"
        >
          <i class="bi bi-plus"></i> Add Payment
        </button>
      </div>
    </div>
  </nav>

  <!-- Course Cards Container -->
  <div class="table-responsive">
    <table class="table table-hover table-nowrap">
      <thead style="text-align: left" class="thead-light">
        <tr>
          <th scope="col">Student_Id</th>
          <th scope="col">Student Name</th>
          <th scope="col">NIC</th>
          <th scope="col">Total Fee</th>
          <th scope="col">Total Paid</th>
          <th scope="col">Pay Due</th>
          <th scope="col">Payment Status</th>
        </tr>
      </thead>
      <tbody style="text-align: left">
        <tr
          *ngFor="
            let student of studentpayment | searchnic:searchNic | searchname:searchText
          "
        >
        <td>{{student.studentId}}</td>
          <td>{{ student.studentName}}</td>
          <td>{{ student.nic }}</td>
          <td>{{ student.totalFee }}</td>
          <td>{{ student.totalPaid }}</td>
          <td>{{ student.paymentDue}}</td>
          <td>{{ student.paymentStatus}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination Controls -->
  <div class="pagination-controls text-center mt-3">
    <button
      class="btn btn-secondary btn-sm me-3"
      (click)="prevPage()"
      [disabled]="currentPage === 1"
    >
      Previous
    </button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button
      class="btn btn-secondary btn-sm ms-3"
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
    >
      Next
    </button>
  </div>
</div>

