<div class="container mt-5">
    <h1>Courses</h1>
    <div class="card shadow border-0 mb-7">
      <div class="card-header">
        <h5 class="mb-0">Course Details</h5>
        <!-- <div>
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="SearchText">
        </div>
        <div>
          <button class="btn btn-dark" (click)="GoToAddCourse()"><i class="bi bi-plus-lg"></i>Add Task</button>
        </div> -->
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-nowrap">
        <thead class="thead-light">
          <tr>
            <th>Course Name</th>
            <th>Proficiency Level</th>
            <th>Fee</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of coursesData; let i = index">
            <td>{{ course.name }}</td>
            <td>{{ course.level }}</td>
            <td>${{ course.fee }}</td>
            <td>
              <button class="btn btn-sm btn-primary" (click)="editCourse(i)"><i class="bi bi-pencil-square"></i></button>
              <button class="btn btn-sm btn-danger" (click)="deleteCourse(i)"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>