.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Dark transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-out;
  position: relative;
}

.modal-title {
  font-size: 24px;
  color: #051650;
  margin-bottom: 20px;
  text-align: left;
}

.close-button {
  position: absolute;
  top: 35px;
  left: 350px; /* Positioned to the left */
  background: transparent;
  border: none;
  font-size: 30px;
  color: #051650;
  cursor: pointer;
}

.close-button:hover {
  color: #333; /* Red on hover */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input:focus {
  border-color: #1d2b64;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-primary {
  background: #0e1f64;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
}

.btn-primary:hover {
  background: #0211699d;
}

.btn-primary:focus {
  outline: none;
}
