<div class="testimonials">
  <div class="section-heading">
    <div class="row">
      <div class="col-lg-7">
        <owl-carousel-o [options]="carouselOptions">
          <ng-template carouselSlide *ngFor="let slide of slides">
            <div class="item">
              <p>{{ slide.text }}</p>
              <div class="author">
                <img [src]="slide.img" alt="{{ slide.name }}">
                <span class="category">{{ slide.category }}</span>
                <h4>{{ slide.name }}</h4>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
      <div class="col-lg-5 align-self-center">
        <h6>TESTIMONIALS</h6>
        <h2>What they say about us?</h2>
        <p>You can search free CSS templates on Google using different keywords such as templatemo portfolio,
          templatemo
          gallery, templatemo blue color, etc.</p>
      </div>
    </div>
  </div>
</div>