<div class="container mt-5">
    <h1>Dashboard</h1>
    <div class="card shadow border-0 mb-7">
      <div class="card-header">
        <h5 class="mb-0">New Requests</h5>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-nowrap">
          <thead class="thead-light">
            <tr>
              <th>Name</th>
              <th>Applying Date</th>
              <th>Course</th>
              <th>Amount</th>
              <th>Offer</th>
              <th>Payment</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of tableData; let i = index">
              <td>
                <img [src]="row.avatar" alt="Avatar" class="avatar avatar-sm rounded-circle me-2">
                {{ row.name }}
              </td>
              <td>{{ row.date }}</td>
              <td>{{ row.courceName }}</td>
              <td>${{ row.amount }}</td>
              <td>{{ row.Offer }}</td>
              <td>{{ row.Payment }}</td>
              <td>
                <button class="btn btn-sm btn-success"><i class="bi bi-check-circle"></i></button>
                <button class="btn btn-sm btn-danger" (click)="deleteRow(i)"><i class="bi bi-x-circle"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  