/* .nav-item.active .nav-link {
    font-weight: bold;
    color: #007bff; 
} */

@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

.tab-left {
    margin: 200000px; /* Adjust the gap as needed */
  }
  