<app-header></app-header>

<app-top-banner></app-top-banner>



  <app-service></app-service>



  <app-about></app-about>


<section class="section courses pt-5" id="courses">
  <app-courses></app-courses>
</section>

<div class="section fun-facts">
  <app-funfacts></app-funfacts>
</div>

<div class="team section" id="team">
  <app-team></app-team>
</div>

<div class="section testimonials">
  <app-testimonal></app-testimonal>
</div>

<div class="section events" id="events">
  <app-events></app-events>
</div>

<div class="contact-us section" id="contact">
  <app-contact-us></app-contact-us>
</div>


<footer>
  <app-footer></app-footer>
</footer>